
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s ease 0s infinite;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 3px;
}