<div  class="outer-container">
    
    <div style="text-align: center;margin-bottom: 20px;">
        <img src="/assets/images/pick-your-challenge.svg" style="height: 150px;">

    </div>
    <ul class="location-container" [class.one-selected]="selectedIndex === 0" [class.two-selected]="selectedIndex === 1"
        [class.three-selected]="selectedIndex ==2">
        <li [class.selected]="selectedIndex === 0" [class.right]="selectedIndex === 1" [class.center]="selectedIndex === 0" (click)="location = 'AZ';setVideoState()"
            [class.very-right]="selectedIndex === 2">
            <video src="/assets/video/az-demo.mp4" [id]="azId"></video><br>
            Desert Heat
        </li>
        <li [class.selected]="selectedIndex === 1" [class.center]="selectedIndex === 1" [class.right]="selectedIndex === 2" (click)="location = 'UT';setVideoState()"
            [class.left]="selectedIndex === 0">
            <!-- <img src="/assets/images/ut-thumb.png"><br> -->
             <video src="/assets/video/ut-demo.mp4" [id]="utahId"></video><br>
            Majestic Mountains
        </li>
        <li [class.selected]="selectedIndex === 2" [class.center]="selectedIndex === 2" [class.left]="selectedIndex === 1" (click)="location = 'NV';setVideoState()"
            [class.very-left]="selectedIndex === 0">
            <video src="/assets/video/nv-demo.mp4" [id]="nvId"></video><br>
            Vegas Nights
        </li>
    </ul>

    <div style="text-align: center;margin-top: 30px;">
        <app-press-a color="#fff"></app-press-a>
    </div>
</div>