<div class="config-container">

    <div style="display: flex;flex-direction: column;height: 100%;">
        <div style="flex: 1;">
            <h3>Game Config</h3>

            <mat-tab-group>
                <mat-tab label="World">
                    <div class="three-column">
        
                        <mat-form-field appearance="outline">
                            <mat-label>Frames / Second</mat-label>
                            <input type="number" matInput [(ngModel)]="config.framesPerSecond">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gravity</mat-label>
                            <input type="number" matInput [(ngModel)]="config.gravity">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Trampoline Y Force</mat-label>
                            <input type="number" matInput [(ngModel)]="config.trampolineYForce">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Game Time (Seconds)</mat-label>
                            <input type="number" matInput [(ngModel)]="config.gameSeconds">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Show Game Won Time (ms)</mat-label>
                            <input type="number" matInput [(ngModel)]="config.showGameWinTime">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Show Game Lost Time (ms)</mat-label>
                            <input type="number" matInput [(ngModel)]="config.showGameLostTime">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Level</mat-label>
                            <mat-select [(ngModel)]="config.level">
                                <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div></div>
                        <div></div>
        
                        <mat-checkbox [(ngModel)]="config.scrollBackground">Scroll Background</mat-checkbox>
                        <mat-checkbox [(ngModel)]="config.showBilboardVideos">Show Billboard Videos</mat-checkbox>
                        <mat-checkbox [(ngModel)]="config.allowDebug">Allow Debug</mat-checkbox>
                    </div>
                </mat-tab>
                <mat-tab label="Player">
                    <div class="two-column">
        
                        <mat-form-field appearance="outline">
                            <mat-label>Player Jump Force</mat-label>
                            <input type="number" matInput [(ngModel)]="config.playerJumpForce">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Player Force Grounded</mat-label>
                            <input type="number" matInput [(ngModel)]="config.playerMoveForceGrounded">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Player Force Not Grounded</mat-label>
                            <input type="number" matInput [(ngModel)]="config.playerMoveForceNotGrounded">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Player Max Velocity</mat-label>
                            <input type="number" matInput [(ngModel)]="config.playerMaxXVelocity">
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="Enemies">
                    <div class="two-column">
                        <mat-form-field appearance="outline">
                            <mat-label>Ram Speed</mat-label>
                            <input type="number" matInput [(ngModel)]="config.ramSpeed">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Cannon Ball Speed</mat-label>
                            <input type="number" matInput [(ngModel)]="config.cannonBallSpeed">
                        </mat-form-field>
                    </div>
                </mat-tab>

                <mat-tab label="Config Sheet">
                    <div>
                        <span class="key">E</span> Edit Level
                    </div>
                    <div>
                        <span class="key">T</span> Show the Appliance Shop
                    </div>
                    <div>
                        <span class="key">W</span> Win the Game
                    </div>
                    <div>
                        <span class="key">L</span> Lose the Game
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div style="flex: none;">
            <button mat-button mat-raised-button color="primary" (click)="save()">Save</button>
        </div>
    </div>
</div>