<div style="display: grid;grid-template-columns: auto 1fr;min-height: 425px;">

    <div style="width: 175px;">
        <div style="position: absolute ;margin-left: 50px;">
            <app-lottie-player #player
                src="https://lottie.host/4b2291b1-0f33-47d8-81d2-ecaeae9c156a/AmZhxaqLCI.json"
                height="150px"></app-lottie-player>
        </div>


    </div>
    <div style="padding-top: 5px; padding-right: 30px;min-height: 250px;">
        <div class="speech-bubble" *ngIf="wordBubbleVisible" [id]="id">

        </div>
    </div>
</div>

