@keyframes stretch-in {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
#toolbar {
    position: fixed;
    width: 250px;
    left: 0;
    top: 100vh;
    display: none;
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    transform-origin: 0% 0%;
    animation: stretch-in .25s ease;
    backdrop-filter: blur(10px);
    z-index: 2;
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

#toolbar button {
    display: block;
    width: 100%;
    height: unset;
    white-space: nowrap;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    img {
        height: 30px;
    }
}

