.price {
    color: #fff;
    transform-origin: 0% 0%;
    transform: rotate(-27deg);
    margin-top: -16px;
    margin-left: -43px;
    text-shadow: 1px 1px #666;
    font-size: 23px;
}

svg {
    height: 125px;
}