<div class="conversation-container">


    <div style="position: absolute;height: 400px;bottom: -87px; left: -116px;">
        <app-lottie-player height="400px" [loop]="true" [speed]="1" #lottiePlayer
            src="https://lottie.host/2fd741d9-4216-442a-80d5-4df511b9adf5/ru2C5RbDEq.json"></app-lottie-player>
    </div>

    <div style="display: flex; flex-direction: column;height: 100%;">
        <div style="flex: 1;">
            <div style="margin-left: 210px;" class="speech-bubble" [id]="id">

            </div>
        </div>
        <div style="flex: none;text-align: right;">
            <app-press-a></app-press-a>
        </div>
    </div>

</div>