<div id="game-container">
  <div id="bg-sky"></div>
  <div id="bg-buildings">
      <img src="/assets/images/bill-board.png" style="    height: 400px;
      position: absolute;
      bottom: 200px;
      left: 700px;">
      <img src="/assets/images/bill-board-2.png" style="    height: 400px;
      position: absolute;
      bottom: 200px;
      left: 2500px;">
  </div>
  <div id="bg-plants"></div>
  <div id="game-div">

  </div>
</div>

<div id="hud">
  <div class="hud-coin"></div>
</div>

<div id="toolbar">
  <!-- <div id="brick">
      <div id="brickheader">
          Brick</div>
  </div> -->

  <button id="add-brick">Add Brick</button>
  <button id="add-mystery">Add Mystery</button>
  <button id="add-spike-ball">Add Spike Ball</button>
  <button id="add-ram">Add Ram</button>
  <button id="add-coin">Add Coin</button>
  <button id="print-debug">Print Debug</button>
  <button id="add-log">Add Log</button>
  <button id="add-short-log">Add Short Log</button>
  <button id="add-man-hole">Add Man Hole</button>
  <button id="add-ice">Add Ice</button>
  <button id="serialize">Save</button>
  <!-- <button id="debug-rect-btn">Show Rect</button> -->
</div>

<div id="snackbar">
  Here is a snackbar message
</div>
<div id="debugger"></div>