<div class="scroller" [class.scrolled]="startGame" [class.game-won-scrolled]="showGameWon || showGameLost">
  <div style="height: 100vh;width: 100vw;">

    <app-title-screen *ngIf="!hideTitleScreen"></app-title-screen>
  </div>
  <div style="height: 100vh;width: 100vw;">
    <app-level1 [location]="location" *ngIf="startGame && location === 'UT'"></app-level1>
    <app-nv-level [location]="location" *ngIf="startGame && location === 'NV'"></app-nv-level>
    <app-az-level [location]="location" *ngIf="startGame && location === 'AZ'"></app-az-level>
  </div>
  <div style="height: 100vh;width: 100vw">
    
    <app-game-won *ngIf="showGameWon"></app-game-won>
    <app-game-lost *ngIf="showGameLost"></app-game-lost>
  </div>
</div>

<div class="eli-popup" *ngIf="showEliPopup">

  <app-eli-popup [message]="eliPopupMessage" (messageComplete)="showEliPopup = false"></app-eli-popup>
</div>

<audio src="/assets/sounds/game-over-lost.aac" id="game-over-lost-sound"></audio>
<audio src="/assets/sounds/game-over-won.aac" id="game-over-won-sound"></audio>
<audio src="/assets/sounds/menu-move.aac"   id="menu-move"></audio>
<audio src="/assets/sounds/warning.aac" [volume]=".25" id="warning-sound"></audio>
<audio src="/assets/sounds/alert.aac" id="alert-sound"></audio>
<audio src="/assets/sounds/flame-thrower.aac" id="flame-thrower"></audio>
<audio src="/assets/sounds/die-1.aac" id="die-1"></audio>
<audio src="/assets/sounds/rock.aac" id="rock"></audio>
<audio src="/assets/sounds/droping.aac" id="dropping"></audio>