<div id="game-container">
    <div id="bottom-filler">
    </div>
    <div id="bg-sky"></div>
    <div id="bg-buildings">
        <img src="/assets/images/bill-board.png" style="    height: 400px;
        position: absolute;
        bottom: 200px;
        left: 700px;">
        <video class="bill-board video1" [autoplay]="'autoplay'" [loop]="'loop'" [muted]="'muted'"
            src="https://elevateh.blob.core.windows.net/cdn/video/hard-knock-life.mp4"></video>
        <img src="/assets/images/bill-board-2.png" style="    height: 400px;
        position: absolute;
        bottom: 200px;
        left: 2500px;">
        <video class="bill-board video2" [autoplay]="'autoplay'" [loop]="'loop'" [muted]="'muted'"
            src="https://elevateh.blob.core.windows.net/cdn/video/pool-and-pest.mp4"></video>

    </div>
    <div id="bg-plants">

    </div>

    <div id="game-div">

        <img src="/assets/images/appliance-shop.svg" style="height: 400px;position: absolute;bottom: 143px;"
            [style.left]="applianceShopLeft">
        <img src="/assets/images/home.svg" [style.left]="homeLeft"
            style="height: 400px;position: absolute;bottom: 162px;">

        <div id="construction-worker" style="position: absolute;bottom: 64px;height: 135px;" [style.left]="initialLeft">
            <app-lottie-player src="https://lottie.host/a3b45688-2a32-46c4-8d10-07056718099d/QQfrmarepT.json"
                height="135px" [intermission]="3000">

            </app-lottie-player>


        </div>


        <div [style.left]="lastGuyLeft" style="position: absolute;bottom: 64px;height: 135px">
            <app-lottie-player src="https://lottie.host/33b46be8-bf4a-4b82-9277-a1c8c699dae4/fO1pefdcze.json"
                height="135px" [intermission]="5000"></app-lottie-player>
        </div>

        <div *ngIf="shopEntranceVisible" [style.left]="shopEntranceAvailableSignLeft" style="position: absolute; top: 100px;">

            <app-lottie-player src="https://lottie.host/47543bb4-b0a3-4bef-9e26-fa824720d4f4/0c6OcFneVE.json" height="300px"></app-lottie-player>
        </div>


    </div>

</div>

<app-tool-bar *ngIf="showToolbar"></app-tool-bar>

<div id="snackbar">
    Here is a snackbar message
</div>
<div id="debugger"></div>

<app-hud></app-hud>

<audio src="/assets/sounds/chime.aac" id="chime"></audio>
<audio src="/assets/sounds/die.aac" id="die-sound"></audio>
<audio src="/assets/sounds/break-brick.aac" id="break-brick-sound"></audio>
<audio src="/assets/sounds/kill-enemy.aac" id="kill-enemy-sound"></audio>
<audio src="/assets/sounds/bounce.aac" id="bounce-sound"></audio>
<audio src="/assets/sounds/collect-tool.aac" id="collect-tool-sound"></audio>
<audio src="/assets/sounds/cannon.aac" id="cannon-sound"></audio>
<audio src="/assets/sounds/select.aac" id="select-sound"></audio>
<audio src="/assets/sounds/alert.aac" id="alert-sound"></audio>
<audio src="/assets/sounds/thrust.aac" id="thrust-sound"></audio>
<audio src="/assets/sounds/jump.aac" id="jump-sound"></audio>
<audio src="/assets/sounds/explosion.aac" id="explosion-sound"></audio>
<audio src="/assets/sounds/warning.aac" id="warning-sound"></audio>