@keyframes stretch-in {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}
#toolbar {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0;
    display: none;
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    transform-origin: 0% 0%;
    animation: stretch-in .25s ease;
    backdrop-filter: blur(10px);
    z-index: 2;
    overflow: auto;
}

#toolbar>button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}