<div id="toolbar">
    <!-- <div id="brick">
        <div id="brickheader">
            Brick</div>
    </div> -->
  
    <button id="add-brick" (click)="addBrick()">Add Brick</button>
    <button id="add-mystery" (click)="addMysteryBlock()">Add Mystery</button>
    <button id="add-spike-ball" (click)="addSpikeBall()">Add Spike Ball</button>
    <button id="add-ram" (click)="addRam()">Add Ram</button>
    <button id="add-coin" (click)="addCoin()">Add Coin</button>
    <button id="print-debug" (click)="printDebug()">Print Debug</button>
    <button id="add-log" (click)="addLog()">Add Log</button>
    <button id="add-short-log" (click)="addShortLog()">Add Short Log</button>
    <button id="add-man-hole" (click)="addManHole()">Add Man Hole</button>
    <button id="add-ice" (click)="addIce()">Add Ice</button>
    <button id="add-saw" (click)="addSaw()">Add Saw</button>
    <button id="add-saw" (click)="addScrewdriver()">Add Screwdriver</button>
    <button id="add-saw" (click)="addWrench()">Add Wrench</button>
    <button id="add-saw" (click)="addHammer()">Add Hammer</button>
    <button id="add-saw" (click)="addDrill()">Add Drill</button>
    <button id="serialize" (click)="save()">Save</button>
    <!-- <button id="debug-rect-btn">Show Rect</button> -->
  </div>