
@keyframes rotate-in {
    from {
        transform: rotate(70deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.app {
    transform: rotate(70deg);
    transform-origin: 0% 100%;
    animation: rotate-in .5s ease;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes jimmy-in {
    to {
        bottom: -98px;
    }
}

.jimmy {
    bottom: -600px;
    height: 600px;
    animation: jimmy-in 1s ease;
    animation-delay: 1s;
    position: absolute;
    right: 100px;
    animation-fill-mode: forwards;
}

@keyframes fade-in-up {
    from {
        transform: translateY(500px);
    }
    to {
        transform: translateY(0px)
    }
}

.next-text {
    font-size: 28px;
    line-height: 40px;
    animation: fade-in-up .5s ease;
}