<div
    style="height: 100%;width: 100%;background-color: #fff;position: relative;background: linear-gradient(43deg, rgba(236, 215, 246, 1) 0%, rgba(251, 246, 254, 1) 100%);">

    <div style="display: flex;flex-direction: column;height: 100%;">
        <div style="flex: 1;text-align: center;padding-top: 60px;">

            <app-lottie-player height="125px" *ngIf="stars === 1"
                src="https://lottie.host/9b6a4d28-7caf-4f2c-98c0-7a836cf39a9d/ri0Ok8VCqq.json"
                [loop]="false"></app-lottie-player>
            <app-lottie-player height="125px" *ngIf="stars === 2"
                src="https://lottie.host/9b727f56-a1c6-4c00-a6fb-1b850bd90af8/LZfcYXhJSd.json"
                [loop]="false"></app-lottie-player>
            <app-lottie-player height="125px" *ngIf="stars === 3"
                src="https://lottie.host/a9e8d28b-1fc1-49a2-8e43-17995a085d15/DAKlERQkjr.json"
                [loop]="false"></app-lottie-player>
        </div>
        <div style="flex: none;">
            <app-lottie-player height="400px"
                src="https://lottie.host/0b2a9368-7b9c-4437-aa41-9e14f7136665/okgBu3p6ag.json">

            </app-lottie-player>
            <img src="/assets/images/jimmy-single.svg" class="jimmy">

            <div style="text-align: center;">
                <!-- <h1 class="mighty-slab-1">You did it!</h1> -->
                 <img style="height: 60px;" src="/assets/images/you-did-it.svg">

                <div style="height: 100px;" *ngIf="location !== 'AZ'">
                    <p class="next-text" *ngIf="showNextText">But seriously, next time just use the
                        <span style="display: inline-block;
                        margin-bottom: -20px;
                        vertical-align: bottom;
                        padding-bottom: 17px;">

                            <img style="height: 25px;" src="/assets/images/elevate-logo-full-color.svg">
                        </span>
                        App.
                        <br>It
                        makes
                        getting repairs a breeze.
                    </p>
                </div>

                <div  *ngIf="location === 'AZ'">
                    <p class="next-text" *ngIf="showNextText">But seriously, next time get an
                        <span style="display: inline-block;
                        margin-bottom: -20px;
                        vertical-align: bottom;
                        padding-bottom: 17px;">

                            <img style="height: 25px;" src="/assets/images/elevate-logo-full-color.svg">
                        </span>
                         Homescription.
                        <br>No limits and no loopholes on A/C coverage. <br> Quite simply the best A/C &amp; Heating coverage on the planet.
                    </p>
                </div>


                <div style="height: 165px;">
                    <div class="next-text" *ngIf="showPressA">
                        <img src="/assets/images/arcade-button.svg" style="height: 75px;">
                        <app-press-a wording="[Press A To Go Again]"></app-press-a>
                    </div>
                </div>
            </div>
        </div>
        <div style="flex: 1;">

        </div>
    </div>


    <img src="/assets/images/app.png" class="app" style="position: absolute;bottom: 0;">

    <img src="/assets/images/jimmy-single.svg" class="jimmy">
</div>