.hud {
    position: fixed;
    top: calc(100vh + 20px);
    right: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(52, 235, 70, 1);
    color: #fff;
    min-width: 100px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 55px 0px rgba(52, 235, 70, 0.75);
    opacity: .8;

}

.hud h1 {
    color: #fff;
}

.collectable {
    filter: grayscale(1);
    opacity: .6;
    transition: 1s ease;

    &.has {
        filter: none;
        opacity: 1;
    }
    img {
        height: 30px;
    }
}

.data-label {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

@keyframes runningOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.running-out {
    animation: runningOut 1s ease;
    animation-iteration-count: infinite;
    color: red !important;
}